.header {
    background-color: rgba(25, 126, 160, 0.863);
    text-align: center;
    padding: 20px
}

.topnav {
    overflow: hidden;
    background-color: aliceblue;
}

.topnav a{
    float: left;
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.topnav a:hover {
    background-color: greenyellow;
    color: black
}