html, body {
    overflow-x: auto;
    height:100%;
    width: 100%;
    margin: 0;
    padding:5px;
    
}
.wrapper{
    border-radius: 25px;
    height: 100%;
    width: 100%;
    display: table;
    background-color: slategray;
}

.content {
    overflow-x: auto;
    width: 100%;
    height: auto;
    margin:0;
    background-color: slategray;
}
.footercontent {
    padding: 20px;
}

.footer, .push {
}

.header {
    border-radius: 25px 25px 0px 0px;
    background-color: slategray;
    text-align: center;
    padding: 20px
}

.topnav {
    overflow: hidden;
    background-color: darkblue;
}

.topnav a{
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.topnav a:hover {
    background-color: orange;
    color: black
}
*{
    box-sizing: border-box;
}
body{
    
    font:16px;
}
h1 {
    margin:0 0 20px 0;
}

p {
    margin: 20px 0 0 0 
}
.col {
    box-sizing: border-box;
    float:left;
    height: inherit;
}
.col.left {
    flex-basis: 65%;
    float:left;
    background-color: slategray;
    padding: 0px 0px 0px 10px;
}
.col.blank {
    overflow-y: hidden;
    overflow-x: hidden;
    float:left;
    padding:10px;
    flex-basis: 10%;
}

.col.right {
    float:right;
    text-align:center;
    flex-basis: 35%;
    background-color: slategray;
    color: black;
}

.card {
    border-radius: inherit;
    padding: 0px 10px 10px 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19)
    ;
    background-color: white;
}

.card.rhs {
    padding: 0px 10px 10px 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19)
    ;
    background-color: darkblue;
}


.card.blurb {
    padding: 10px 10px 10px 10px;
    background-color: white;
}

.row {
    display: table-row;
    height: 1px;
}
.row.expand {
    height: auto;
}

.container {
    display:flex;
    justify-content: space-between;
    overflow: auto;
    width: 100%;
    height: inherit;
    padding: 0px 0px 30px 0px;
    background-color: slategray;
    gap: 2%;
}
.container:after {
    content: "";
    display: table;
    clear: both;
}
.contact.bar {
    width:100%;
    background-color: orange;
    float: left;
    display: block;
    color: darkblue;
    text-decoration: none;
    padding: 20px;
    font-size: 16pt;
}

footer {
    border-radius: 0px 0px 25px 25px;
    bottom:10px;
    background-color: slategray;
    text-align: left;
    line-height:  1px;
    padding: 20px;
    margin:0;
    color: white;
}
.img.border {
    align:right;
    padding: 30px;
    border-style: double;
}

@media screen and (max-width: 600px) {
    .col.left, .col.right {
        width: 100%;
    }
  }